:root {
    --amarelo: #FFCB47;
    --preto: #202020;
    --cinza: #909090;
    --branco: #FFFFFF;
    --sombra-amarela: 10px 10px 30px #FFCB473D;
    --sombra-preta: 10px 10px 30px #0000000F;
    --montserrat: 'Montserrat', sans-serif;
    --Elsie: 'Elsie Swash Caps', serif;

}