@import url(_estilo.css);
@import url(_reset.css);
@import url(_botoes.css);
@import url(_input.css);
@import url(_cartao.css);
@import url(_item.css);
@import url(_produto.css);

body{
    background: url(../../assets/img/textura.png), url(../img/linhas.png);
    background-position: center;
    font-family: var(--montserrat);
    font-size: var(--tamanho-corpo);
    color: var(--cinza);
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.titulo {
    font-size: var(--tamanho-titulo);
}

.titulo--destaque {
    font-weight: var(--peso-destaque);
    font-size: var(--tamanho-destaque);
    font-family: var(--Elsie);
    color: var(--preto);
    display: block;
    margin-top: .75rem;
    margin-bottom: .75rem;
}

.alinhamento-esquerda {
    text-align: left;
}

.alinhamento-meio {
    text-align: center;
}

.texto {
    line-height: 26px;
}