@import url(_estilo.css);
@import url(_reset.css);
@import url(_botoes.css);
@import url(_input.css);
@import url(_cartao.css);

body{
    background: url(../../assets/img/textura.png), url(../img/linhas.png);
    background-position: center;
    font-family: var(--montserrat);
    font-size: var(--tamanho-corpo);
    color: var(--cinza);
}

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.titulo {
    font-size: var(--tamanho-titulo);
}