.botao {
    background-color: var(--amarelo);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: var(--sombra-botao);
    border: none;
}